body {
    background-color: #172121;
    font-family: Tahoma;
}

h1 {
    color: #E5D0CC;
    font-size: 50px;
    text-align: center;
}

p {
    color: #BFACB5;
    text-align: center;
    font-size: 20px;
}

button {
    border-style: solid;
    border-color: #E5D0CC;
    border-width: 6px;
    background-color: #444554;
    font-size: 60px;
    align-self: center;
    color:#E5D0CC;
    border-radius: 6px;
    width: 900px;
    height: 200px;
    
    
}

button:hover {
    background-color: #7F7B82;
}


div {
    max-width: 900px;
    max-height: 200px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;

}